<div class="contents_opinion">
    <div class="new_form_theme">
        <div class="new_form_theme_title">
            <div class="label_newform"><%= @theme.title %></div>
        </div>
        <div class="new_form_theme_text"><%= simple_format(@theme.text) %></div>
        <div class="new_form_theme_user">投稿者：<%= @theme.user.nickname %></div>
    </div>
<%= form_for [@theme,@opinion] do |f| %>
    <div class="opinion_form">
        <div class="opinion_form_field">
            <div class="label">
                <%= f.label :賛成？反対？, class: "opinion_form_label" %>
            </div>
            <div class="opinion_form_area1">
                <%= f.select :foragainst, [["賛成", "賛成"], ["反対", "反対"]], include_blank: "選択してください", class: "opinion_form_foragainst" %>
            </div>
        </div>
        <div class="opinion_form_field">
            <div class="label">
                <%= f.label :主張の根拠, class: "opinion_form_label" %>
            </div>
            <div class="opinion_form_area">
                <%= f.text_area :reason, placeholder: "主張の根拠を記入", class: "opinion_form_textarea" %>
            </div>
        </div>
        <div class="opinion_form_field">
            <div class="label">
                <%= f.label :参考文献など, class: "opinion_form_label" %>
            </div>
            <div class="opinion_form_area">
                <%= f.url_field :url, placeholder: "URLを入力", class: "opinion_form_url" %>
            </div>
        </div>
    </div>
    <div class="action_opinion">
        <%= f.submit "投稿する", class: "opinion_form_btn" %>
    </div>
<% end %>
</div>