<div class="contents_opinion">
<%= form_for [@theme,@opinion] do |f| %>
    <div class="opinion_form">
        <div class="opinion_form_field">
            <div class="label">
                <%= f.label :賛成？反対？, class: "opinion_form_label" %>
            </div>
            <div class="opinion_form_area1">
                <%= f.select :foragainst, [["賛成", "賛成"], ["反対", "反対"]], include_blank: "選択してください", class: "opinion_form_foragainst" %>
            </div>
        </div>
        <div class="opinion_form_field">
            <div class="label">
                <%= f.label :主張の根拠, class: "opinion_form_label" %>
            </div>
            <div class="opinion_form_area">
                <%= f.text_area :reason, placeholder: "主張の根拠を記入", class: "opinion_form_textarea" %>
            </div>
        </div>
    </div>
    <div class="action_opinion">
        <%= f.submit "投稿する", class: "opinion_form_btn" %>
    </div>
<% end %>
</div>