<div class="contents_opinion">
    <div class="new_form_conclusion_area">
    <div class="new_form_theme_title">
            <div class="label_newform_themeco"><%= @theme.title %></div>
        </div>
    <div class="new_form_conclusion_title">→　結論「<%= @theme.conclusion.foragainst %>派」の勝利！！</div>
    <div class="new_form_conclusion_mod">ＭＯＤ(最も決定的な意見)は「<%= @user.nickname %>さん」です</div>
        <div class="new_form_conclusion">
            <div class="new_form_conclusion_subtitle">テーマ選定者のコメント</div>
            <div class="new_form_conclusion_reason"><%= simple_format(@theme.conclusion.text) %></div>
        </div>
        <div class="new_form_theme_user">投稿者：<%= link_to "#{@theme.user.nickname}", user_path(@user) %></div>
    </div>
    <% if @opinions.present? %>
    <div class="foragainst_field">
        <div class="for_title">
        賛成派
        </div>
        <div class="against_title">
        反対派
        </div>
    </div>
        <%= render partial: "conclusions/opinion", collection: @opinions %>
    <% end %>
</div>